<!DOCTYPE html>
<html>
  <head>
    <title>AquaLogRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('clownfish.png') %>
    <script src="https://kit.fontawesome.com/c43424a8d5.js" crossorigin="anonymous"></script>
    <meta name="description" content="AquaLog App" />
    <meta name="title" property="og:title" content="AquaLog" />
    <meta property="og:type" content="Website" />
    <meta name="image" property="og:image" content="https://raw.githubusercontent.com/KevinHJo/aqua-log-rails/main/public/aqualog-thumbnail.PNG" />
    <meta name="description" property="og:description" content="AquaLog App" />
    <meta name="author" content="Kevin Jo" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>